<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>



<form th:method="PATCH" th:action="@{/users/{id} (id = ${user.getId()})}" th:object="${user}">

    <label for="name"> Измените имя: </label>
    <input type="text" th:field="*{name}" id="name" />
    <br/>

    <label for="surname"> Измените фамилию: </label>
    <input type="text" th:field="*{surname}" id="surname" />
    <br/>

    <label for="age"> Измените возраст: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>

    <input type="submit" value="Внести изменения в данные пользователя"/>

</form>
</body>
</html>